<div id="content-wrapper">
<h1> Mi Vu</h1>
<p class="grey-copy"> 
    My full name is Mi Phuong Vu. I was born on November 1, 1993. I enjoy eating fried chicken with beer. Asides from being a student, I work part time at Tim Hortons and do occasional violin gigs (usually for weddings, which are the best because I usually get free food and booze). I'm currently halfway through my studies in Graphic Design at St. Clair College and am still loving it a lot. 
</p>
    
<p>
</p>
  
<p> 
   I have 3 siblings and am the second oldest child. My extended family are in Vietnam with a few cousins spread across the globe. During the summers I often do contract works in interior design in Hamburg where they have me mostly work on 3D renderings either with SketchUp or 3DS max depending on the scope of work. I find those contract jobs fun and exciting, as they are short term. 
</p>
    
</div>
