---
---

body,html {
    background-color: rgb(250, 225, 100) ; 
    margin:0;
    font-family: 'Roboto', sans-serif;
}

p {
    text-align: justify;
    text-indent: 10px;
}

h1, h2, h3 {
    font-family: 'Roboto Condensed', sans-serif;
}
  
h1{
        text-align: center;
}

.grey-copy{
    color: rgb(77, 77, 77)
}

i{
font-size: 90px;
}

img {
    display: block;
    margin: 0 auto;
    border: 5px solid white;
    border-radius: 300px;
    width: 200px;
}

ul {
    text-align: center;
    width: 500px;
    margin: 0 30px 40px 32px;
}

ul > li {
    display: inline-block;
    margin: 0 auto;
    width: 100px;
    color: white;
}

#content-wrapper{
    width: 600px;
    margin: 0 auto;
}

